
/* Reset geral */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (min-device-width : 1200px) 
{
    /* computadores */

    #Main-Container
    {
        display: flex; 
        flex-direction: column;
        width: 100vw;
        /* NÃO TEM ALTURA FIXA, ELE VAI CONTER TODO O CONTEUDO */

        align-items: center;
        background-color: #f8f3ef;
       

        
    }

    header
    {
        /* as child */
        width: 100%; 
        height: 10vh;
        background-color: #FF914D;
        position: fixed;
        flex-grow: 0;
        /* as parent */
        display: flex; 
        justify-content: space-between;
        
    }

    .botao-login{
        padding-right: 5%;
        align-self: center;
    }

    #hamburger{
        display: none;
    }

    .button{
        display: flex;
        background-color: rgb(247, 247, 247);
        padding: 15%;
        border-right-width: 20%;

    }

    #logo
    {
        padding-left: 15%;
    }

    .header-foto
    {
        height: 100%;
    }

    main {
        display: flex; 
        flex-direction: column;

        /* MARGIN DE TELAS (MUDAR AQUI) */
        width: 80%; 
        
        
    }


    section 
    {
        width: 100%;
        height:100vh; 
    }


    

    
        
        
    

   
    #Tela1
    {

        /* background-color: blueviolet; */
        
    }

    /* ======================TELA 2====================== */

    #Tela2
    {
        /* Font */
        font-family: 'Merriweather', sans-serif;

        /* Properties as parent */
        display: flex; 
        flex-direction: column;
        justify-items: center;
  
    }

    #titulo-produto
    {
        display: flex;
        width: 100%;
        height: 10%; 
    
        justify-content: center;
        align-items: center;
        align-self: center;

        /* Font */
        color: #c25f22;
        font-size: 2.2rem;
        font-weight: 200;

    }

    .product-description
    {
        display: flex;
        flex-direction: row;
        height: 85%;
        width: 100%;
        padding-top: 2%;  

        text-justify: auto;
        text-align:justify;
        font-size: 0.8rem;

        color: #b45317;
            

        background-color: #F8F3EF;
        display: flex;
        flex-direction: row;
        align-items: center;
    
    }

    .conteudo{
        display: table;
    }
    
    
    .ilustração-1p img{
        display: table-cell;
        width: 50%;
        max-width: 80%;
        float: right
    }


    .texto-propaganda{
        display: table-cell;
        width: 400px;
        float: left;
    }

   


    #Tela2
    {   
        background-color: red;

    }

    .container-produto
    {
        min-width: 54%;    
        height: 100%;
        padding-right: 5%;  
    }

    .container-produto img {
        width: 100%;
        box-shadow: 0.05rem 0.05rem  0.05rem   
    };

    #product-caption
    {
        display: flex;
        justify-content: center;
    }

    #product-caption-header
    {
        display: flex;
       justify-self: center;
       justify-content: center;
    }

   
  
    /* ======================TELA 2====================== */

    #Tela3
    {
        background-color: brown;
    }
    



   
footer 
{
    width: 100%; 
    height: 10vh;
    background-color: blue;
    flex-grow: 0;

}

    
